body{
    background-image: url(bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	overflow: auto;
}

header{
	text-align: center;
	font-family: Verdana,Geneva,sans-serif;
	font-weight: bold;
	font-size: 150pt;
}

html, body {
  height: 100%;
  overflow: auto;
}
